## <div align="center"><b> This file contains the Problem Statement of Data Cleaning Assignment along with their solutions using Pandas library. </b></div>

\
\
\
__File name__:  Data_Cleaning_Assignment_Solutions
___
__Author__: Arun Kumar Kushwaha
___
__Email__: ark9127@gmail.com
___
__Date created__:  02-May-2020
___
__Date last modified__: 03-May-2020
___
__Python Version__: 3.7
___

 <hr>______________________________________________________________________________________________________________________________</hr>

__Introduction:__ This assignment will help you to consolidate the concepts learnt in the session.

__Problem Statement:__
It happens all the time: someone gives you data containing malformed strings, Python, lists and missing data. How do you tidy it up so you can get on with the analysis?

Take this monstrosity as the DataFrame to use in the following puzzles:

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],

                'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],

                'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],

                'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})

In [51]:
# Importing panda and numpy libraries to perform a set of operation on dataframe

import numpy as np
import pandas as pd


# --creating dataframe as given in the above problem statement:

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],

            'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],

            'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],

            'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})


# --diplaying the dataframe stored in df variable

df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

__Obervations:__
1. From_To column: contains the name of flight boarding city and flight landing city, concatenated together with "_" character
2. From_To column: casing is not proper that either in upper case or lower case or camel case
3. FlightNumber: two rows contain "NaN" value i.e. at index of 1 and 3
4. RecentDelays: not sure what kind of data it is. Its Data Type look like a list which contains integer number.
5. RecentDelays: At index 1, list is blank
6. Airline: contains the airline name. Few of them have numerical figure, need to further analyse its importance or its just a junk data concatentenated with the airline name

 <hr>______________________________________________________________________________________________________________________________</hr>

__Query 1:__
Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column).

__Solution 1:__

In [53]:
# Program to fill the missing numbers in the Flight Column and make the column an integer column


# --for to loop to iterated through each item of Flight Numer column
for i in range(0,len(df['FlightNumber'])):
    if pd.isna(df.loc[i,'FlightNumber']):          # --condition to identify the NaN in Flight Number column
        df.loc[i,'FlightNumber'] = df.loc[i-1,'FlightNumber'] + 10.0   # --updating the NaN value after adding 10 in the previous row number


# --checking the current data type of Flight Number column
print("The old data type of Flight Number was: ",df['FlightNumber'].dtype)


# --updating the data type of Flight Number Column to Integer
df['FlightNumber'] = df['FlightNumber'].astype(int)


print("\nThe updated data type of Flight Number is: ", df['FlightNumber'].dtype)

print("\nFind below the updated missing Flight Number:\n", '-' * 45, sep='')

print(df[['FlightNumber']])

The old data type of Flight Number was:  float64

The updated data type of Flight Number is:  int32

Find below the updated missing Flight Number:
---------------------------------------------
   FlightNumber
0         10045
1         10055
2         10065
3         10075
4         10085

__Comment:__ Below is the second method which i was trying to implement, but not sure why the addition done in the RHS are not copying to the LHS

In [52]:
# Program to fill the missing numbers in the Flight Column and make the column an integer column


# --LHS-> is to locate the NaN in Flight Number column
# --RHS-> is to add 10 to the previous FLight Number
# --LHS=RHS-> to store the sum in LHS and replace NaN value
df.loc[df['FlightNumber'].isna(),'FlightNumber'] = df.loc[df[df['FlightNumber'].isna()].index - 1 , 'FlightNumber'] + 10

df[['FlightNumber']]

   FlightNumber
0       10045.0
1           NaN
2       10065.0
3           NaN
4       10085.0

 <hr>______________________________________________________________________________________________________________________________</hr>

__Query 2:__
The From_To column would be better as two separate columns! Split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.

__Solution 2:__

In [54]:
# Program to split the "From_To" column in to two columns and save it in the temporary Dataframe

# --creating a temporary dataframe to store "From_To" column
# --using copy function os that the changes made in temporary dataframe should not be reflected in the original dataframe

df_temp = df[['From_To']].copy()

# --splitting the each string from each row available in "From_To" column on underscore delimiter
# --creating two columns in temporary dataframe and storing the new values in to them

df_temp[['City_From','City_To']] = df_temp['From_To'].str.split('_', expand = True)

# --dropping the "From_To" column, on which the split operation was performed, as it is not required anymore
# --inplace = True -> to make the changes permanent
# --axis = 1 -> to drop the element column-wise

df_temp.drop('From_To', inplace = True, axis = 1)    

print("From and To Cities are displayed below in two seperate columns :\n", "-" * 64, sep = '')

print(df_temp)

From and To Cities are displayed below in two seperate columns :
----------------------------------------------------------------
  City_From    City_To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

 <hr>______________________________________________________________________________________________________________________________</hr>

__Query 3:__
Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

__Solution 3:__

In [55]:
# Program to Standardise the strings so that only the first letter is uppercase
# (e.g. "londON" should become "London".)


df_temp['City_From'] = df_temp['City_From'].str.capitalize()
df_temp['City_To'] = df_temp['City_To'].str.capitalize()

print("Displaying the strings in first letter capital format :\n", "-" * 55, sep = '')

print(df_temp)

Displaying the strings in first letter capital format :
-------------------------------------------------------
  City_From    City_To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

 <hr>______________________________________________________________________________________________________________________________</hr>

__Query 4:__
Delete the From_To column from df and attach the temporary DataFrame from the previous questions.

__Solution 4:__

In [56]:
# Program to Delete the From_To column from df and attach the temporary DataFrame to df


# --dropping the "From_To" column, on which the split operation was performed, as it is not required anymore
# --inplace = True -> to make the changes permanent
# --axis = 1 -> to drop the element column-wise

df.drop('From_To', inplace = True, axis = 1) 


# --concatenating the temporary dataframe to original dataframe i.e. df

df = pd.concat([df,df_temp], axis = 1)


print('Displaying the updated columns in the original dataframe after removing "From_to" column :\n', "-" * 90, sep = '')

print(df)

Displaying the updated columns in the original dataframe after removing "From_to" column :
------------------------------------------------------------------------------------------
   FlightNumber  RecentDelays              Airline City_From    City_To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

 <hr>______________________________________________________________________________________________________________________________</hr>

__Query 5:__
In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

Expand the Series of lists into a DataFrame named delays, rename the columns delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df with delays.

__Solution 5:__

In [57]:
# Program to split the list of 'RecentDelays' column and create its own column
# dropping the 'RecentDelays' column


# --using pd.series to break all the elements available in a list and same time assigned the index.
# --where ever the element is not available, by default the value is populated with Nan
# --using apply function to implement pd.series on each element (here list in each row) of 'RecentDelays' column
# --storing the result in delays dataframe

delays = df['RecentDelays'].apply(pd.Series)

print('Displaying the "delays" dataframe after splitting the RecentDelays column:\n', "-" * 74, sep = '')

print(delays)


# --renaming the columns of delays dataframe

delays = delays.rename(columns = lambda x : 'delay_' + str(x+1))

print('\nDisplaying the "delays" dataframe after updating the column names:\n', "-" * 66, sep = '')

print(delays)


# --joining the delays dataframe with the original dataframe i.e. df

df = df.join(delays)

print('\nDisplaying the "df" dataframe after joining "delays" dataframe:\n', "-" * 64, sep = '')

print(df)



# --droping the 'RecentDelays'  column from "df" dataframe

df = df.drop('RecentDelays', axis = 1)

print('\nDisplaying the "df" dataframe after removing "RecentDelays" column:\n', "-" * 67, sep = '')

print(df)

Displaying the "delays" dataframe after splitting the RecentDelays column:
--------------------------------------------------------------------------
      0     1     2
0  23.0  47.0   NaN
1   NaN   NaN   NaN
2  24.0  43.0  87.0
3  13.0   NaN   NaN
4  67.0  32.0   NaN

Displaying the "delays" dataframe after updating the column names:
------------------------------------------------------------------
   delay_1  delay_2  delay_3
0     23.0     47.0      NaN
1      NaN      NaN      NaN
2     24.0     43.0     87.0
3     13.0      NaN      NaN
4     67.0     32.0      NaN

Displaying the "df" dataframe after joining "delays" dataframe:
----------------------------------------------------------------
   FlightNumber  RecentDelays              Airline City_From    City_To  \
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

   delay_1  delay_2  delay_3
0     23.0     47.0      NaN
1      NaN      NaN      NaN
2     24.0     43.0     87.0
3     13.0      NaN      NaN
4     67.0     32.0      NaN

Displaying the "df" dataframe after removing "RecentDelays" column:
-------------------------------------------------------------------
   FlightNumber              Airline City_From    City_To  delay_1  delay_2  \
0         10045               KLM(!)    London      Paris     23.0     47.0
1         10055    <Air France> (12)    Madrid      Milan      NaN      NaN
2         10065  (British Airways. )    London  Stockholm     24.0     43.0
3         10075       12. Air France  Budapest      Paris     13.0      NaN
4         10085          "Swiss Air"  Brussels     London     67.0     32.0

   delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN

 <hr>______________________________________________________________________________________________________________________________</hr>